.headerContainer{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding: 16px 0;

  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  background: $background__color_sub;
}

.navigationContainer, .navigationContainer__nav{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  width: auto;
}

.nav__item{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: auto;


  &:not(:last-child){
    margin-right: 8px;
  }


  .item__link{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 20px 16px;

    cursor: pointer;

    text-decoration: none;


    .link__icon{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      width: 24px;

      margin-right: 8px;

      svg{
        fill: $text__color_sub;

        will-change: fill;
        transition: .3s fill;
      }
    }

    .link__text{
      white-space: nowrap;
      
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;

      color: $text__color_sub;

      will-change: color;
      transition: .3s color;
    }
  }

  &.active, &:hover{
    .item__link{

      .link__icon{
        svg{
          fill: $text__color_prior;
        }
      }
      .link__text{
        color: $text__color_prior;
      }
    }
  }
}


.headerContainer__logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 289.15px;

  margin-left: 112px;
  margin-right: 288px;

  a{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
  }

  svg{
    width: 100%; height: auto;
  }
}

.profileContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: auto;


  .profileContainer__link{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 20px 16px;

    cursor: pointer;

    text-decoration: none;


    .link__icon{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      width: 24px;
      margin-right: 8px;

      svg{
        fill: $text__color_sub;

        will-change: fill;
        transition: .3s fill;
      }
    }

    .link__text{
      white-space: nowrap;
      
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;

      color: $text__color_sub;

      will-change: color;
      transition: .3s color;
    }
  }

  
  &.active, &:hover{
    .profileContainer__link{

      .link__icon{
        svg{
          fill: $text__color_prior;
        }
      }
      .link__text{
        color: $text__color_prior;
      }
    }
  }
}